page-home {
  .action-sheet-ios {
    text-align: center;
  }

  .action-sheet-ios .action-sheet-wrapper {
    margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
    margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
  }

  .action-sheet-ios .action-sheet-container {
    padding: 0 10px;
  }

  .action-sheet-ios .action-sheet-group {
    border-radius: 13px;
    margin-bottom: 8px;
    background: #f9f9f9;
  }

  .action-sheet-ios .action-sheet-group:first-child {
    margin-top: 10px;
  }

  .action-sheet-ios .action-sheet-group:last-child {
    margin-bottom: 10px;
  }

  .action-sheet-ios .action-sheet-title {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 1.3rem;
    font-weight: 400;
    color: #8f8f8f;
  }

  .action-sheet-ios .action-sheet-button {
    margin: 0;
    padding: 18px;
    min-height: 5.6rem;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 2rem;
    color: #007aff;
    background: transparent;
  }

  .action-sheet-ios .action-sheet-button:last-child {
    border-bottom-color: transparent;
  }

  .action-sheet-ios .action-sheet-button.activated {
    margin-top: -0.55px;
    border-top: 0.55px solid #ebebeb;
    border-bottom-color: #ebebeb;
    background: #ebebeb;
  }

  .action-sheet-ios .action-sheet-selected {
    font-weight: bold;
    background: #fff;
  }

  .action-sheet-ios .action-sheet-destructive {
    color: #f53d3d;
  }

  .action-sheet-ios .action-sheet-cancel {
    font-weight: 600;
    background: #fff;
  }

}
